@import '../../assets/styles/Mixins.module.scss';
@import '../../assets/styles/Variables.module.scss';

.login-register-form {
  @include flex(center, flex-start, column, 1.6rem);
  @include spacing(s);
  background-color: $w;
  border: 1px solid $grey100;
  border-radius: $borderRadiusRegular;
  box-shadow: $lightShadow;
  height: 37rem;
  width: 25rem;
  

  &__icon {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__buttons {
    @include flex(center, flex-start, row, 1.6rem);
    color: $textColorSecondary;
  }
  &__border {
    @include flex(center, center, column, 1.6rem);
    border-bottom: 1px solid $grey300;
    width: 100%;
    
  }
}
