@import "../../../../assets/styles/Mixins.module.scss";
@import "../../../../assets/styles/Variables.module.scss";

.menu-list-add-to-cart {
  @include flex(space-between, flex-end, center, 0);
  padding: 0 1rem;

  &__price {
    &-title {
      font-size: 0.7rem;
      font-weight: $fontWeightRegular;
    }

    &-amount {
      font-size: 1.1rem;
    }
  }
}
