@import '../../assets/styles/Variables.module.scss';
@import "../../assets/styles/Mixins.module.scss";

.layout {
  @include flex(flex-start,flex-start,row, 2rem);
  
  background-color: $grey100;
  color: $textColorPrimary;
  min-height: 100vh;
  padding: 2.5rem 0;
  width: 100%;
}
