.form_container {
  width: 391px;
  height: 592px;
  @include flex(center, flex-start, column, 25px);
  border-radius: $borderRadiusRegular;
  border: 1px solid #f7f7f7;
  box-shadow: 2.4px 6.1px 8.6px -0.8px #8d8d8d33;
  background-color: #fff;

  &_icon_container {
    display: flex;
    justify-content: center;
    width: 100%;
    img {
      height: 60px;
      width: 120px;
    }
  }
}
