@import "../../../../assets/styles/Mixins.module.scss";
@import "../../../../assets/styles/Variables.module.scss";

.menu-list-description {
  @include flex(center, center, column, 1.1rem);
  padding: 1rem;

  &__text {
    color: $grey400;
    font-size: 0.9rem;
    font-weight: 300;
  }

  &__rating {
    @include flex(space-between, center, row, 0);
    font-size: 0.8rem;
    width: 100%;
  }

  &__more-info {
    @include flex(center, center, row, 0);
  }

  &__more-text {
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
  }

  &__btn {
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.4rem;
  }
}
