@import "./Mixins.module.scss";
@import "./Variables.module.scss";

.login-register-form {
  background-color: $w;
  border: 1px solid $grey100;
  border-radius: $borderRadiusRegular;
  box-shadow: 2.4px 6.1px 8.6px -0.8px #8d8d8d33;
  height: 592px;
  width: 391px;
  @include flex(center, flex-start, column, 25px);
  @include spacing(s);
 

  &__icon {
    display: flex;
    justify-content: center;
    width: 100%;
    img {
      height: 60px;
      width: 120px;
    }
  }

  &__buttons {
    @include flex(center, flex-start, row, 25px);
    color: $textColorSecondary;
  }
    &__border {
      border-bottom: 1px solid $grey300;
      width: 100%;
      @include flex(center, center, column, 25px);
    }
  }

