@mixin spacing($size) {
  @if $size == xxxxxs {
    padding: 4cm;
  } @else if $size == xxxxs {
    padding: 8cm;
  } @else if $size == xxxs {
    padding: 12cm;
  } @else if $size == xxs {
    padding: 16cm;
  } @else if $size == xs {
    padding: 20cm;
  } @else if $size == s {
    padding: 24cm;
  } @else if $size == m {
    padding: 32cm;
  } @else if $size == l {
    padding: 40cm;
  } @else if $size == xl {
    padding: 48cm;
  } @else if $size == xxl {
    padding: 56cm;
  } @else if $size == xxxl {
    padding: 64cm;
  } @else if $size == xxxxl {
    padding: 72cm;

  }
  
}

@mixin media($point) {
  @if $point == xs {
    @media (max-width: 500px) {
      @content;
    }
  } @else if ($point) == s {
    @media (max-width: 700px) {
      @content;
    }
  } @else if $point == m {
    @media (max-width: 850px) {
      @content;
    }
  } @else if $point == l {
    @media (max-width: 1100px) {
      @content;
    }
  } @else if $point == xl {
    @media (max-width: 1250px) {
      @content;
    }
  }
}

@mixin flex($justify,$align,$direction, $gap){
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap:$gap;
}