$textColorPrimary:#143149;
$textColorSecondary:#636363;
$textColorOrange:#E26A00;
$textColorPurple: #746AE9;

$fontWeightBold: 700;
$fontWeightMedium: 500;
$fontWeightRegular: 400;

// Colors
$primary800:#0D1F2E;
$primary600:#143149;
$primary400: #1A4264;
$secondary600:#E26A00;
$secondary400:#FF7F0F;
$secondary300:#FFA631;
$secondary200:#FFE9D6;
$secondary100:#FEF5ED;
$grey500:#636363;
$grey400:#8D8D8D;
$grey300:#C8C8C8;
$grey200: #DDDEE0;
$grey100: #F7F7F7;
$green500: #00B368;
$green400:#3BE191;
$red500: #DE1A49;
$red300: #FFD4D7;
$purple500:#746AE9;
$purple400:#9A91FF;
$purple300:#B7B7FD;
$purple200: #EAEEFC;
$yellow500:#EEBB39;
$yellow400:#FCDA83;
$yellow300:#FFE7A8;
$yellow200:#FFEFD0;

// Color extras
$orangeGradient:Orange Gradient;
$modalOverlay: 15% Opacity#0D1F2E;

$boxShadowXSmall:0px 1px 2px 0px #8D8D8D1F;
$boxShadowSmall: 0.3px 0.8px 1.1px 0px #8D8D8D1C;
$boxShadowMedium:1.1px 2.8px 3.9px -0.4px #8D8D8D29;
























