.nav-btn__expanded {
  border-radius: $borderRadiusRegular;
  background-color: $primary800;
  @include flex(flex-start, center, row, 20px);
  padding: 6px 12px;
  border: 1px solid transparent;
  height: 40px;
  font-size: 18px;
  width: 100%;
  cursor: pointer;

  &:focus {
    background-color: $primary800;
    border: 1px solid $secondary600;
  }
  &:hover {
    background-color: $primary600;
  }
  &:active {
    background-color: $primary400;
  }
}

.nav-btn__colapsed {
  border-radius: $borderRadiusRegular;
  background-color: $primary800;
  @include flex(flex-start, center, column, 5px);
  border: 1px solid transparent;
  padding: 1px;
  font-size: 14px;
  width: 100%;
  cursor: pointer;

  &:focus {
    background-color: $primary800;
    border: 1px solid $secondary600;
  }
  &:hover {
    background-color: $primary600;
    
  }
  &:active {
    background-color: $primary400;
  }
}

.arrow-btn {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: (translate(-50%, 50%));
  border: 2px solid white;
  border-radius: 10px;
  background-color: $secondary600;
  cursor: pointer;

  svg {
    @include flex(center, center, center, 0px);
    padding: 5px;
  }

  svg path {
    fill: #ffffff;
  }
}
