@mixin spacing($size) {
  @if $size == xxxxxs {
    padding: 0.25rem;
  } @else if $size == xxxxs {
    padding: 0.5rem;
  } @else if $size == xxxs {
    padding: 0.75rem;
  } @else if $size == xxs {
    padding: 1rem;
  } @else if $size == xs {
    padding: 1.25rem;
  } @else if $size == s {
    padding: 1.5rem;
  } @else if $size == m {
    padding: 2rem;
  } @else if $size == l {
    padding: 2.5rem;
  } @else if $size == xl {
    padding: 3rem;
  } @else if $size == xxl {
    padding: 3.5rem;
  } @else if $size == xxxl {
    padding: 4rem;
  } @else if $size == xxxxl {
    padding: 4.5rem;
  }
}

@mixin media($point) {
  @if $point == xs {
    @media (max-width: 31rem) {
      @content;
    }
  } @else if ($point) == s {
    @media (max-width: 44rem) {
      @content;
    }
  } @else if $point == m {
    @media (max-width: 54rem) {
      @content;
    }
  } @else if $point == l {
    @media (max-width: 69rem) {
      @content;
    }
  } @else if $point == xl {
    @media (max-width: 78rem) {
      @content;
    }
  }
}

@mixin flex($justify, $align, $direction, $gap) {
  align-items: $align;
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  justify-content: $justify;
}

@mixin nav-btn-base {
  background-color: $primary800;
  border: 2px solid transparent;
  border-radius: $borderRadiusRegular;
<<<<<<< HEAD
  color: white;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  
=======
  color: $w;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
>>>>>>> master

  &:focus {
    background-color: $primary800;
    border: 2px solid $secondary600;
    box-shadow: $mediumShadow;
  }
  &:hover {
    background-color: $primary600;
  }
  &:active {
    background-color: $primary400;
  }
}
