.headlineLarge {
  font-weight: 700;
  line-height: 40px;
  size: 32px;
}

.headlineMedium {
  font-weight: 700;
  line-height: 30px;
  size: 24px;
}

.headlineSmall {
  font-weight: 700;
  line-height: 27px;
  size: 18px;
}

.titleExtraLarge {
  font-weight: 500;
  line-height: 30px;
  size: 24px;
}

.titleLarge {
  font-weight: 500;
  line-height: 27px;
  size: 18px;
}

.titleMedium {
  font-weight: 500;
  line-height: 24px;
  size: 16px;
}

.titleSmall {
  font-weight: 500;
  line-height: 21px;
  size: 14px;
}

.titleExtraSmall {
  font-weight: 500;
  line-height: 15px;
  size: 10px;
}

.labelLarge {
  font-weight: 600;
  line-height: 30px;
  size: 20px;
}
.labelMedium {
  font-weight: 600;
  line-height: 24px;
  size: 16px;
}
.labelSmall {
  font-weight: 600;
  line-height: 21px;
  size: 14px;
}
.labelExtraSmall {
  font-weight: 600;
  line-height: 18px;
  size: 12px;
}

.labelExtraExtraSmall {
  font-weight: 600;
  line-height: 15px;
  size: 10px;
}

.bodyLarge {
  font-weight: 400;
  line-height: 24px;
  size: 16px;
}

.bodyMedium {
  font-weight: 400;
  line-height: 21px;
  size: 14px;
}

.bodySmall {
  font-weight: 400;
  line-height: 18px;
  size: 12px;
}
