.headlineLarge {
  font-weight: $fontWeightBold;
  line-height: 2.5rem;
  size: 2rem;
}

.headlineMedium {
  font-weight: $fontWeightBold;
  line-height: 1.9rem;
  size: 1.5rem;
}

.headlineSmall {
  font-weight: $fontWeightBold;
  line-height: 1.7rem;
  size: 1.1rem;
}

.titleExtraLarge {
  font-weight: $fontWeightMedium;
  line-height: 1.9rem;
  size: 1.5rem;
}

.titleLarge {
  font-weight: $fontWeightMedium;
  line-height: 27px;
  size: 18px;
}

.titleMedium {
  font-weight: $fontWeightMedium;
  line-height: 1.5rem;
  size: 1rem;
}

.titleSmall {
  font-weight: $fontWeightMedium;
  line-height: 21px;
  size: 14px;
}

.titleExtraSmall {
  font-weight: $fontWeightMedium;
  line-height: 1.3rem;
  size: 0.6rem;
}

.labelLarge {
  font-weight: 600;
  line-height: 30px;
  size: 20px;
}
.labelMedium {
  font-weight: 600;
  line-height: 24px;
  size: 16px;
}
.labelSmall {
  font-weight: 600;
  line-height: 1.3rem;
  size: 0.9rem;
}
.labelExtraSmall {
  font-weight: 600;
  line-height: 18px;
  size: 12px;
}

.labelExtraExtraSmall {
  font-weight: 600;
  line-height: 1.1rem;
  size: 0.6rem;
}

.bodyLarge {
  font-weight: $fontWeightRegular;
  line-height: 1.5rem;
  size: 1rem;
}

.bodyMedium {
  font-weight: $fontWeightRegular;
  line-height: 21px;
  size: 14px;
}

.bodySmall {
  font-weight: $fontWeightRegular;
  line-height: 1.3rem;
  size: 0.8rem;
}
