$textColorPrimary: #143149;
$textColorSecondary: #636363;
$textColorOrange: #e26a00;
$textColorPurple: #746ae9;

$fontWeightBold: 700;
$fontWeightMedium: 500;
$fontWeightRegular: 400;

// Colors
<<<<<<< HEAD
$w:white;
$b:black;
=======
$w: #fff;
$b: #000;
>>>>>>> master
$primary800: #0d1f2e;
$primary600: #143149;
$primary400: #1a4264;
$secondary600: #e26a00;
$secondary400: #ff7f0f;
$secondary300: #ffa631;
$secondary200: #ffe9d6;
$secondary100: #fef5ed;
$grey500: #636363;
$grey400: #8d8d8d;
$grey300: #c8c8c8;
$grey200: #dddee0;
$grey100: #f7f7f7;
$green500: #00b368;
$green400: #3be191;
$red500: #de1a49;
$red300: #ffd4d7;
$purple500: #746ae9;
$purple400: #9a91ff;
$purple300: #b7b7fd;
$purple200: #eaeefc;
$yellow500: #eebb39;
$yellow400: #fcda83;
$yellow300: #ffe7a8;
$yellow200: #ffefd0;

// Color extras
$orangeGradient: Orange;
<<<<<<< HEAD
$modalOverlay: 15% Opacity#0D1F2E;
$borderRadiusRegular: 8px;
$borderRadiusLarge: 20px;
=======
>>>>>>> master

$modalOverlay: 15% Opacity#0D1F2E;

$borderRadiusRegular: 0.5rem;
$borderRadiusLarge: 1.26rem;

<<<<<<< HEAD
$strongShadow: 5.3px 13.3px 18.8px -1.2px #C8C8C840;
=======
$mediumShadow: 0.3px 0.8px 1.1px 0px #8d8d8d1c;

$lightShadow: 2.4px 6.1px 8.6px -0.8px #8d8d8d33;

>>>>>>> master
