.nav {
  @include flex(flex-start, center, column, 50px);
  background-color: $primary800;
  border-bottom-right-radius: $borderRadiusRegular;
  border-top-right-radius: $borderRadiusRegular;
  height: 978px;
  padding: 30px 0;
  position: relative;
  width: 250px;

  &__list {
    @include flex(center, flex-start, column, 15px);
    padding: 1px;

    &-icon path {
      fill: $w;
    }

    &-link {
      background-color: $primary800;
      border: none;
      color: $w;
      font-size: 16px;
      text-decoration: none;
    }
  }
}
.nav-colapsed {
  @include flex(flex-start, center, column, 50px);
  background-color: $primary800;
  border-bottom-right-radius: $borderRadiusRegular;
  border-top-right-radius: $borderRadiusRegular;
  height: 978px;
  padding: 30px 0;
  position: relative;
  width: 72px;
  

  &__list {
    @include flex(center, center, column, 20px);

    &-icon path {
      fill: $w;
    }

    &-link {
      background-color: $primary800;
      border: none;
      color: $w;
      font-size: 11px;
      text-decoration: none;
    }
  }
}
