.nav-btn__expanded {
  @include nav-btn-base;
  @include flex(flex-start, center, row, 1.25rem);
  padding: 0.4rem 0.8rem;
  height: 2.5rem;
  font-size: 1rem;
}

.nav-btn__colapsed {
  @include nav-btn-base;
  @include flex(center, center, column, 0.3rem);
  padding: 0.1rem;
  font-size: 0.8rem;
  width: 100%;
  height: 4.4rem;

  p {
    text-align: center;
  }
}


